body{
margin: 0;
padding: 0;
}
.head{
    display: flex;
    background-color: rgb(42,73,160);
    justify-content: center;
    align-items: center;
}
.head img{
    width: 4rem;
    height: 2em;
   
}

.firstcontainer{
    display: flex;

justify-content: space-between;
padding: 0 5rem;
align-items: center;
} 
.firstcontainer>div p{
    font-size: 20px;
    
} 

.firstcontainer #salarysort{
    
    padding: 5px 8px;
    border-radius: 2px;
    } 
.secondcontainer{
    display: flex;
   
    margin-top: 40px;
    justify-content: space-around;
}



#productsidebar {
    margin-left: 1.4rem;
    width: 20%;
   
   height: fit-content;
  }

  #productsidebar form label{
    font-size: 14px;
   color: #4b4b4f;
    
  }
  #productsidebar form input{
    margin: 4px;
    scale: 1;
    /* opacity: 0.35; */
    /* background-color: rgb(86, 4, 4); */
   
}
#productsidebar h5{
    opacity: 0.7;
    font-size: 15px;
    }
    hr{
 
        opacity: 0.25;
      }
    

    #filterColor form input[type="radio"]{
        appearance: none;
      }
      #filterColor form input[type="radio"]::before{
        content: "✔";
        padding: 0rem 0.1rem ;
        /* color: rgb(112, 12, 12); */
        color: transparent;
        /* transform: scale(0); */
      }
      
      #filterColor form input[type="radio"]::before{
        /* background-color: rgb(205, 7, 7); */
        transform: scale(1);
        border-radius: 1rem;
        border: 1px solid rgba(0,0,0,0.4);
      }

.head >h3{
    color: white;
    font-size: 1.17em;
    font-size: 30px;
    margin: 5px 3px;
}



#product-page-item-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
width: 70%;
   margin-right: 2rem;
}
#product-page-item-div >div{
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
#product-page-item-div div >img{
  width: 100%;
}
#product-page-item-div div >h3{
    padding-left: 10px;
      }

#product-page-item-div div >p{
padding-left: 10px;
  }